<header class="px-6 py-3 border border-border-light bg-background-surface flex items-center justify-between">
  <div class="max-w-7xl w-full mx-auto flex items-center justify-between">
    <div class="flex items-center gap-2">
      <app-text variant="heading-large" class="text-heading"><h1>GoTask</h1></app-text>
      <img src="images/icon-logo.svg" alt="GoTask Logo">
    </div>

    <nav class="flex items-center gap-6">
      <button class="cursor-pointer flex items-center justify-center bg-invert p-2 rounded-xl">
        <img src="images/icon-notification.svg" alt="">
      </button>

      <div class="flex items-center gap-3">
        <div class="flex items-center gap-2">
          <img src="images/icon-user-avatar.svg" alt="User Avatar">
          <app-text variant="heading-medium" class="text-heading"><span>Jennie K.</span></app-text>
        </div>

        <button class="cursor-pointer flex items-center justify-center">
          <img src="images/icon-sign-out.svg" alt="Sign Out">
        </button>
      </div>
    </nav>
  </div>
</header>
