<div class="p-3 bg-background-surface cursor-grab">
  <div class="flex gap-1 mb-1">
    <app-text variant="label-medium">
      <h3>Implementar paginação na lista de usuários</h3>
    </app-text>
    <img ngSrc="/images/icon-delete.svg" alt="Trash Icon" width="20" height="20">
  </div>

  <app-text variant="paragraph-medium" class="mb-3 line-clamp-2">
    <p>
      Atualmente, a lista de usuários é carregada integralmente, impactando o desempenho da página.
      O objetivo é implementar a paginação para otimizar a exibição e melhorar a performance.
    </p>
  </app-text>

  <button class="text-accent-brand text-link leading-link font-semibold flex items-center gap-1 hover:underline cursor-pointer">
    <img ngSrc="/images/icon-comments.svg" alt="" width="20" height="20">
    <span>2 Comentários</span>
  </button>
</div>
