@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Text */
  --color-text-heading: #080B12;
  --color-text-paragraph: #374151;
  --color-text-span: #9CA3AF;
  --color-text-placeholder: #89919F;
  --color-text-invert: #FFFFFF;

  /* Background */
  --color-background-light: #FFFFFF;
  --color-background-dark: #D7D8D8;
  --color-background-surface: #FAFAFA;

  /* Accent */
  --color-accent-brand: #2A89EF;
  --color-accent-brand-light: #ECF4FE;
  --color-accent-brand-dark: #0A53A1;
  --color-accent-red: #E61E32;
  --color-accent-green: #15BE78;
  --color-accent-orange: #FF850A;

  /* Border */
  --color-border-dark: #636D7E;
  --color-border-light: #D1D5DB;

  /* Font Family */
  --font-archivo: "Archivo", sans-serif;

  /* Typography */
  --text-heading-large: 24px;
  --text-heading-large--line-height: 130%;

  --text-heading-medium: 18px;
  --text-heading-medium--line-height: 130%;

  --text-paragraph-large: 16px;
  --text-paragraph-large--line-height: 160%;

  --text-paragraph-medium: 14px;
  --text-paragraph-medium--line-height: 160%;

  --text-paragraph-small: 12px;
  --text-paragraph-small--line-height: 160%;

  --text-label-medium: 16px;
  --text-label-medium--line-height: 160%;

  --text-label-small: 14px;
  --text-label-small--line-height: 160%;

  --text-link: 12px;
  --text-link--line-height: 160%;
}

@layer base {
  body {
    font-family: var(--font-archivo);
  }
}
